.container-fluid.margin-top-20
  .row
    .col-sm-6
      .panel.panel-primary
        .panel-heading
          .panel-title
            Edit
        .panel-body
          %form.bs-component{novalidate: true, enctype: "multipart/form-data", name: "editUserForm"}
            %fieldset
              Not Editable yet :(
              -# .form-group.label-floating
              -#   %label.control-label{for:"inputUsername"}
              -#     Nickname
              -#   %input#inputUsername.form-control{type: "text", ng_model: "edit_user.nickname", name:"username", required: true}
              -#   %span.material-input
              -# .form-group.label-floating
              -#   %label.control-label{for:"inputEmail"}
              -#     Email
              -#   %input#inputEmail.form-control{type: "email", ng_model: "edit_user.email", name:"email", required: true}
              -#   %span.material-input
              -# .form-group.label-floating
              -#   %label.control-label{for:"inputPassword"}
              -#     Password
              -#   %input#inputPassword.form-control{type: "password", ng_model: "edit_user.password", name:"password", required: true}
              -#   %span.material-input
              -#   %div{ng_show: "signin.$submitted"}
              -#     %div.alert{ng_show: "signin.password.$error.required"}
              -#       No password entered
              -# .form-group
              -#   %label.control-label{for:"inputImage"}
              -#     Image
              -#   %input#inputPassword.form-control{type: "file", ng_model: "edit_user.image", name:"image", required: false}
              -# .form-group
              -#   %button.btn.btn-primary.btn-raised.join.big.right{type: "submit", ng_click: "save(editUserForm)"}
              -#     Save
              .form-group
                %button.btn.btn-primary.btn-raised.join.big.right{ng_click: "backButton()"}
                  Back