.container-fluid
  .row
    .col-xs-12.col-sm-6
      .desc
        %userprofile{localuser: "user"}
        %button.btn.btn-primary.btn-raised.join.big{ng_click: "edit_profile()"}
          Edit
        -# %button.btn.btn-primary.btn-raised.join.big{ng_click: "delete_profile()"}
        -#   Delete
    .col-xs-12.col-sm-6.text-center
      %h2
        Your preffered genres 
      %chart{mydata: "dataset", id:"mama"}
    .col-xs-12.col-sm-6.text-center
