.dashboard
  .upcoming.section{ng_show: "section.upcoming" }
    %h2
      Upcoming Episodes
    .container-fluid
      .row
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center.series-repeat{ng_repeat: "serie in activeSeries"}
          -# %showthumb{ name: "serie.name",id:"serie.id",  addseries:"addSeries", gotolink:"true", goto: "goTo", cover: "serie.image", followers: "serie.followers", imdb: "serie.rating", date: "serie.newDate", followers:"serie.followers" }
          %showthumb{ serie:"serie",  addseries:"addSeries", gotolink:"true", goto: "goTo" }
  .favourites.section{ng_show: "section.upcoming"}
    %h2
      All your series
    .container-fluid
      .row
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center.series-repeat{ng_repeat: "serie in inactiveSeries"}
          -# %showthumb{name: "serie.name", gotolink: "true", id:"serie.id", goto: "goTo", cover: "serie.image", followers: "serie.followers", imdb: "serie.rating", following: "serie.following"}
          %showthumb{serie:"serie", gotolink: "true", goto: "goTo", followstatus: "true"}
