%table.table
  %thead
    %td
    %td
    %td
    %td
  %tbody
    %tr.episodes.hide-on-check{ng_repeat_start: "episode in episodes | orderBy: 'episode_number'", ng_show:"!episode.seen || !removeepisodes"}
      %td.watched-container
        .watched.checkbox
          %label
            %input{ng_if:"episode.watchable", type: "checkbox", ng_click:"checkEpisode(episode)", ng_model:"episode.seen" }
      %td.ep{ng_click: "showDescription(episode)"}
        .title
          {{episode.season_number}}x{{episode.episode_number}} {{episode.name}}
        .description
          {{episode.overview}}
      %td.air-date
        {{episode.first_aired}}
    %tr.description-small.fadeInOut{ng_repeat_end: true, ng_class: "{'show-description-small': isExpanded(episode)}", ng_show: "descriptionOn(episode)"}
      %td.watched-container
      %td.ep{colspan: 2}
        .description{ng_click: "showDescription(episode)"}
          {{episode.overview}}
