%button.btn.btn-primary.btn-raised.join.big{ng_repeat: "season in seasons track by season.id" , ng_click: "selectSeason($index)", ng_class:"{current:  season.isActive}", ng_show:"season.has_episodes"}
  season {{season.season_number}} {{season.id}}