.container-fluid
  .row
    .col-xs-12
      .cover-container
        .panel.panel-default
          .cover.loading
            %img.full{ng_src: "{{currentSeries.image.url}}"}
            -# %img.full{ng_src:"images/{{currentSeries.cover}}", alt: "gotcover"}
        .well.infoTile
          .large-text-increase-2.text-increase-1
            {{currentSeries.name}}
            %br
          Followers: {{currentSeries.followers}}
          IMDB: {{currentSeries.rating}}

        .well.well-primary.infoTile{ng_click: "toggleDesc()"}
          {{activeDesc.text}}
    .text-center
      .buton.btn.btn-primary.btn-raised.join.big{ng_click: "unfollow(currentSeries)", ng_show:"currentSeries.following"}
        unsubscribe
      .buton.btn.btn-primary.btn-raised.join.big{ng_click: "addSeries(currentSeries)", ng_show:"!currentSeries.following"}
        subscribe
      .button.btn.btn-primary.btn-raised.join.big{ng_click: "watchSeason()"}
        Watch Season
    .seasons
      %button.btn.btn-primary.btn-raised.join.big{ng_repeat: "season in currentSeries.seasons" , ng_click: "selectSeason(currentSeries.seasons.indexOf(season))"}
        season {{season.season_number}}
  .col-xs-12
    %episodestable{episodes:"currentSeries.episodes"}
