.desc_section
  .container-fluid
    .row
      .col-xs-12.col-sm-6.col-md-4.col-lg-3{ng_repeat: "serie in series"}
        -# %showthumb{name: "serie.name", id:"serie.id", gotolink:"true", goto: "goTo", addseries:"addSeries", cover: "serie.image", followers: "serie.followers", imdb: "serie.rating", following:"serie.following"}
        %showthumb{serie:"serie", gotolink:"true", goto: "goTo", addseries:"addSeries", followstatus:"true"}
