
.cover-container.small
  .panel.panel-default
    .cover.loading
      %a{ng_click: "st.goTo('series/' + st.serie.id, $event)"}
        %img.full#sthumb{ng_src: "{{st.serie.image.url}}"}
      .release{ng_show: "st.serie.newDate!='TBD'"}
        {{st.serie.newDate}}
      .follow.active{ng_show: "st.serie.following && st.followstatus", ng_click: "st.unfollowSerie(st.serie)"}
        %span.glyphicon.glyphicon-star
      .follow{ng_show: "!st.serie.following && st.followstatus", ng_click:"st.addSeries(st.serie)"}
        %span.glyphicon.glyphicon-star
      .follow.active{ng_show: "st.episodes"}
        {{st.serie.unseen_episodes}} ep

  .well.well-primary.infoTile{ng_class:"{current: st.serie.active}"}
    %strong
      {{st.serie.name}}
    %br
    Followers: {{ st.serie.followers}}
    IMDB: {{st.serie.rating}}
