%nav.st-menu
  .sidebar-title
    %img.full.logo{src: "/images/logo.svg"}
    -# EpiTracker
  %ul
    %li
      %a{ng_if: "user_signed_in()", ng_click: "goTo(AppRoutes.profile_path())"}
        {{user.nickname}}
    %li
      %a{ng_click: "goTo(AppRoutes.welcome_path())"}
        Welcome
    %li
      %a{ng_click: "goTo(AppRoutes.series_all_path())"}
        Series
    %li
      -# %a{ng_click: "goTo(AppRoutes.dashboard_path())"}
      %a{ng_href: "{{AppRoutes.dashboard_path()}}"}
        Dashboard
    %li
      %a{ng_click: "goTo('/unwatched')"}
        Unwatched
    %li{ng_if: "!user_signed_in()"}
      %a{ng_click: "goTo(AppRoutes.signup_path())"}
        Signup
    %li{ng_if: "user_signed_in()"}
      %a{ng_click: "logout()"}
        SignOut
