.container-fluid.margin-top-20
  .row
    .col-sm-6
      .panel.panel-primary
        .panel-heading
          .panel-title
            Sign In to your account now !
        .panel-body
          %form.bs-component{novalidate: true, name: "signinForm"}
            %fieldset
              .form-group.label-floating
                %label.control-label{for:"inputEmail"}
                  Email
                %input#inputEmail.form-control{type: "email", ng_model: "login_user.email", name:"email", required: true}
                %span.material-input
                %div{ng_show: "signinForm.$submitted"}
                  %div.alert.alert-form{ng_show: "signinForm.email.$error.required"}
                    No email was entered
              .form-group.label-floating
                %label.control-label{for:"inputPassword"}
                  Password
                %input#inputPassword.form-control{type: "password", ng_model: "login_user.password", name:"password", required: true}
                %span.material-input
                %div{ng_show: "signinForm.$submitted"}
                  %div.alert.alert-form{ng_show: "signinForm.password.$error.required"}
                    No password entered
              .form-group
                %button.btn.btn-primary.btn-raised.join.big.right{type: "submit", ng_click: "login(signinForm)"}
                  Sign In

    -# .col-sm-6
    -#   .panel.panel-primary
    -#     .panel-heading
    -#       .panel-title
    -#         Don't have an account yet? Join us now and enjoy all our features
    -#     .panel-body
    -#       %form.bs-component{novalidate: true, name: "form"}
    -#         .form-group.label-floating
    -#           %label.control-label{for:"inputSignupName"}
    -#             Name
    -#           %input#inputSignupName.form-control{type: "text", ng_model: "tempUser.name", name:"uName", required: false}
    -#           %span.material-input
    -#         .form-group.label-floating
    -#           %label.control-label{for:"inputSignupUsername"}
    -#             Username
    -#           %input#inputSignupUsername.form-control{type: "text", ng_model: "tempUser.username", name:"username", required: true}
    -#           %span.material-input
    -#           %div{ng_show: "form.$submitted"}
    -#             %div.alert{ng_show: "form.username.$error.required"}
    -#               No name was entered
    -#         .form-group.label-floating
    -#           %label.control-label{for:"inputSignupEmail"}
    -#             Email
    -#           %input#inputSignupEmail.form-control{type: "email", ng_model: "tempUser.email", name:"uEmail", required: true}
    -#           %span.material-input
    -#           %div{ng_show: "form.$submitted || form.uEmail.$valid"}
    -#             %div.alert{ng_show: "form.uEmail.$error.required"}
    -#               No email was entered
    -#         .form-group.label-floating
    -#           %label.control-label{for:"inputSignupPassword"}
    -#             Password
    -#           %input#inputSignupPassword.form-control{type: "password", ng_model: "tempUser.password", name:"password", required: true}
    -#           %span.material-input
    -#           %div{ng_show: "form.$submitted"}
    -#             %div.alert{ng_show: "form.uPass.$error.required"}
    -#               No password was entered
    -#         .form-group
    -#           %button.btn.btn-primary.btn-raised.join.big{type: "submit", ng_click: "signUp(form)"}
    -#             Sign Up

    .col-sm-6
      .panel.panel-primary
        .panel-heading
          .panel-title
            Don't have an account yet? Join us now and enjoy all our features
        .panel-body
          %form.bs-component{novalidate: true, name: "signup_form"}
            .form-group.label-floating
              %label.control-label{for:"inputSignupUsername"}
                Username
              %input#inputSignupUsername.form-control{type: "text", ng_model: "create_user.nickname", name:"username", required: true}
              %span.material-input
              %div{ng_show: "signup_form.$submitted"}
                %div.alert.alert-form{ng_show: "signup_form.username.$error.required"}
                  No username was entered
            .form-group.label-floating
              %label.control-label{for:"inputSignupEmail"}
                Email
              %input#inputSignupEmail.form-control{type: "email", ng_model: "create_user.email", name:"email", required: true}
              %span.material-input
              %div{ng_show: "signup_form.$submitted || signup_form.email.$valid"}
                %div.alert.alert-form{ng_show: "signup_form.email.$error.required"}
                  No email was entered
            .form-group.label-floating
              %label.control-label{for:"inputSignupPassword"}
                Password
              %input#inputSignupPassword.form-control{type: "password", ng_model: "create_user.password", name:"password", required: true}
              %span.material-input
            .form-group.label-floating
              %label.control-label{for:"inputSignupPassword"}
                Confirm Password
              %input#inputSignupPassword.form-control{type: "password", ng_model: "create_user.password_confirmation", name:"password_confirmation", required: true}
              %span.material-input
              %div{ng_show: "signup_form.$submitted"}
                %div.alert.alert-form{ng_show: "signup_form.password.$error.required"}
                  No password was entered
            .form-group
              %button.btn.btn-primary.btn-raised.join.big{type: "submit", ng_click: "signup(signup_form)"}
                Sign Up
