-# .top_section.bg-primary
-#   %button.btn#sidebar
-#     sidebar
-#   %a.logo
-#     EpiTracker
-#   %button.btn.pull-right
-#     %span
-#       Sign In
-#   .clearfix

.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      -# %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      -#   %span.icon-bar
      -#   %span.icon-bar
      -#   %span.icon-bar
      %a#sidebar
        %img.logo{src: "images/logo.svg"}
    .navbar-collapse.collapse.navbar-responsive-collapse
      -# %ul.nav.navbar-nav
      -#   %li.active
      -#     %a{:href => "javascript:void(0)", ng_click: "goTo('/dashboard')"} Dashboard
      -#   %li
      -#     %a{:href => "javascript:void(0)", ng_click: "goTo('/series')"} Series
      -#   %li.dropdown
      -#     %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
      -#       Dropdown
      -#       %b.caret
      -#     %ul.dropdown-menu
      -#       %li
      -#         %a{:href => "javascript:void(0)"} Action
      -#       %li
      -#         %a{:href => "javascript:void(0)"} Another action
      -#       %li
      -#         %a{:href => "javascript:void(0)"} Something else here
      -#       %li.divider
      -#       %li.dropdown-header Dropdown header
      -#       %li
      -#         %a{:href => "javascript:void(0)"} Separated link
      -#       %li
      -#         %a{:href => "javascript:void(0)"} One more separated link
      -# %form.navbar-form.navbar-left
      -#   .form-group
      -#     %input.form-control.col-md-8.search{:placeholder => "Search", :type => "text"}/
      -# %ul.nav.navbar-nav.navbar-right
      -#   %li
      -#     %a{:href => "javascript:void(0)"} Link
      -#   %li.dropdown
      -#     %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown"}
      -#       Dropdown
      -#       %b.caret
      -#     %ul.dropdown-menu
      -#       %li
      -#         %a{:href => "javascript:void(0)"} Action
      -#       %li
      -#         %a{:href => "javascript:void(0)"} Another action
      -#       %li
      -#         %a{:href => "javascript:void(0)"} Something else here
      -#       %li.divider
      -#       %li
      -#         %a{:href => "javascript:void(0)"} Separated link
