.unwatched
  .series
    .container-fluid
      .row
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center.series-repeat{ng_repeat: "serie in series | unwatched"}
          -# %showthumb{ng_click:"toggleSeries(serie)", gotolink: "false", name:"serie.name", id:"serie.id", cover: "serie.image", followers:"serie.followers", imdb:"serie.rating", active:"serie.isActive", unseen:"serie.unseen_episodes", episodes:"true" }
          %showthumb{ ng_click:"toggleSeries(serie)", gotolink: "false", serie: "serie", episodes:"true" }

      .row
        .col-xs-12
          .seasons#seasons.hide-on-check{}
            %button.btn.btn-primary.btn-raised.join.big{ng_repeat: "season in currentSeasons" , ng_click: "selectSeason(currentSeasons.indexOf(season))", ng_class:"{current: season.isActive}", ng_show:"season.has_episodes"}
              season {{season.season_number}}
        .col-xs-12.text-center
          %button.btn.btn-primary.btn-raised.join.big{ng_click: "watchSeason(activeSeason)", ng_show:"currentSeasons[activeSeason].has_episodes"}
            Watch Season
          -# %button.btn.btn-primary.btn-raised.join.big{ng_click: "unwatchSeason(activeSeason)"}
          -#   UnWatch Season
        .col-xs-12
          %episodestable{episodes: "currentSeries.episodes", removeepisodes:"true", serie:"currentSeries", season:"displayedSeason"}
