.desc_section
  .welcome-section
    .text-center.t-inc-2.f-color-p.m-b-2
      Never miss an episode ever again ! Gain complete control over all your favourite series right now
    .text-center
      %button.btn.btn-primary.btn-raised.join.big{ng_click: "goTo('/signup')"}
        join
  .instructions
    .container-fluid
      .row
        .col-sm-4
          .desc
            .icon
              %img.full{src: "images/organised.png", alt: "icon"}
            %div
              Organise your favourite series !
            .clearfix
        .col-sm-4
          .desc
            .icon
              %img.full{src: "images/notification.png", alt: "icon"}
            %div
              Get notified on all new episodes !
            .clearfix
        .col-sm-4
          .desc
            .icon
              %img.full{src: "images/friends.png", alt: "icon"}
            %div
              Share this experience with your friends !
            .clearfix

  .welcome-section
    %h2.text-center
      Most popular shows
    .container-fluid
      .row
        .col-xs-12.col-sm-6.col-md-4.col-lg-3{ng_repeat: "serie in series"}
          %showthumb{serie:"serie", gotolink:"true", goto: "goTo", addseries:"addSeries", followstatus:"true"}
