.dashboard
  padding: 2rem
  position: relative

.thumb
  cursor: pointer
  img
    border-radius: 3%
    +shadow-by-level(1)

.episode
  position: relative
  display: inline-block
  text-align: center
  margin-bottom: 2rem

.release, .follow
  +shadow-by-level(1)
  position: absolute
  background-color: $secondary-color
  padding: 1rem
  display: inline-block
  right: -10px
  top: 10px
  border-radius: 5px
  color: $white
  font-weight: bold

.follow
  background-color: $primary-color
  &.active
    background-color: $secondary-color

.tab
  border: 1px solid black
  border-radius: 5px
