=shadow-by-level($level, $color: $black)
  position: relative
  z-index: $level
  -webkit-box-shadow: 0px ($level*1)+px ($level*3)+px $color, 0px ($level*1)+px ($level*2)+px $color
  -moz-box-shadow: 0px ($level*1)+px ($level*3)+px $color, 0px ($level*1)+px ($level*2)+px $color
  box-shadow: 0px ($level*1)+px ($level*3)+px $color, 0px ($level*1)+px ($level*2)+px $color

.bg-primary
  background-color: $primary-color
.bg-secondary
  background-color: $secondary-color

.btn
  will-change: box-shadow
.t-inc-1
  font-size: $font-base * 1.5
.t-inc-2
  font-size: $font-base * 2

.f-color-p
  color: $font-p-color
.f-color-s
  color: $font-s-color

.text-increase-2
  font-size: $font-size*2
.text-increase-1
  font-size: $font-size*1.25

.m-t-2
  margin-top: 2 * $vspacer

body
  padding-top: 50px

.popular_section
  h2
    margin-bottom: 4rem

@media screen and (min-width: 768px)
  .large-text-increase-2
    font-size: $font-size*2
  .large-text-increase-1
    font-size: $font-size*1.5


// .container
  // width: auto!important

img.full
  max-width: 100%
  width: 100%
  height: auto
body, html, #st-container, .st-pusher, .st-content
  height: 100%

body
  padding-top: 60px
  overflow-y: scroll

// button
//   display: inline-block
//   background-color: $primary-color
//   color: $font-s-color
//   +shadow-by-level(1)

.navbar-header button.navbar-menu
  float: left

.navbar-brand
  display: inline-block
  width: 15.2rem


/* top bar*/
.top_section
  transition: padding 0.5s
  background-color: $dark-primary-color
  padding: 3rem
  width: 100%
  +shadow-by-level(3)
  position: fixed
  .logo
    color: white
    margin: 2px

a#sidebar
  display: inline-block
  +shadow-by-level(1)
  height: 90%
  margin: 10px
  padding: .5rem
  color: $white
  text-decoration: none!important
  margin-right: 1rem
  cursor: pointer
  border-radius: 3px
  .logo
    max-height: 30px

.sidebar-title
  padding: 1rem
  font-size: 2.5rem
  color: $white

button#sidebar
  max-width: 50px
  max-height: 50px
  border-radius: 50%
  border: 0px
  padding: 0.5rem
  margin: 1rem
  position: fixed

@media screen and (min-width: 992px)
  .navbar-fixed-top
    position: relative!important
    margin-bottom: 0!important

@media screen and (min-width: 992px)
  body
    padding-top: 0px
  .st-pusher
    padding-left: 15rem
  .st-menu-open
    .st-pusher::after
      display: none

.inputField
  text-align: center
  margin: 1rem
  input
    width: 40%
    display: inline-block


.desc
  .icon
    max-width: 100px

.inputLabel
  font-size: 3rem

.join
  background-color: $primary-color
  color: $white
  padding: 1rem 3rem 1rem 3rem
  font-size: 2rem
  font-weight: bold
  &:active
    color: $white
  &:hover
    color: $white
  .current
    background-color: $secondary-color

button.btn.btn-primary.btn-raised.join.big.current
  background-color: $secondary-color

.well.well-primary.infoTile.current
  background-color: $secondary-color

.sign-in
  +shadow-by-level(1)

form
  padding: 1rem
  // margin-bottom: 3rem

.form-group
  margin: 0

.panel.signup
  padding: 2rem
  margin-top: 2rem
  font-size: 2rem
  text-align: center
  font-weight: bold
  background-color: $dark-primary-color
  color: $white

.alert.alert-form
  color: $secondary-color
  font-weight: bold
  padding: 0

.view-container
  position: relative

.view-frame.ng-enter, .view-frame.ng-leave
  background: white
  position: absolute
  top: 0
  left: 0
  right: 0

.view-frame.ng-enter
  -webkit-animation: 0.6s custom-fade-in
  -moz-animation: 0.6s custom-fade-in
  -o-animation: 0.6s custom-fade-in
  animation: 0.6s s custom-fade-in
  z-index: 100

.view-frame.ng-leave
  -webkit-animation: 0.6s 0.1s custom-fade-out
  -moz-animation: 0.6s 0.1s custom-fade-out
  -o-animation: 0.6s 0.1s custom-fade-out
  animation: 0.6s 0.1s custom-fade-out
  z-index: 99

#insertPicture
  &, *
    margin: 0 !important
    padding: 0 !important

#insertPicture.beforeTransition
  position: absolute
  -webkit-animation: 0.8s custom-grow
  -moz-animation: 0.8s custom-grow
  -o-animation: 0.8s custom-grow
  animation: 0.8s custom-grow

@keyframes custom-grow
  0%
    z-index: 2
  100%
    width: 100%
    left: 0
    z-index: 3
    top: 0
@keyframes custom-fade-in
  0%
    opacity: 0
  100%
    opacity: 1
@-moz-keyframes custom-fade-in
  0%
    opacity: 0
  100%
    opacity: 1
@-webkit-keyframes custom-fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes custom-fade-out
  0%
    opacity: 1
  100%
    opacity: 0
@-moz-keyframes custom-fade-out
  0%
    opacity: 1
  100%
    opacity: 0
@-webkit-keyframes custom-fade-out
  0%
    opacity: 1
  100%
    opacity: 0

.hide-on-check
  -webkit-transition: all linear 0.5s
  transition: all linear 0.5s
  &.ng-hide, &.ng-leave
    opacity: 0


.margin-top-20
  margin-top: 20px!important

.legend
  font-size: 12px
rect
  stroke-width: 2
chart
  width: 100%
  display: inline-block

.alert-custom
  position: fixed
  z-index: 1000
  width: 100%
  // top: -20px
