.seriesdesc
  padding: 3rem

.cover-container
  text-align: center
  padding: 1rem
  &.small
    padding: 0
    cursor: pointer

  .cover
    position: relative
    &.loading
      padding-top: 56.25%
      img
        top: 0
        left: 0
        position: absolute
        // display: none
    img
      border-radius: 5px
      max-height: 100%

.details
  +shadow-by-level(2)
  position: absolute
  border-radius: 5px
  left: 20px
  bottom: 0
  background: $light-primary-color
  display: none
  padding: 1rem


.well.infoTile
  width: 90%
  border-radius: 0.5rem
  display: inline-block
  margin-bottom: 0.5rem!important
  padding: 2rem 0.5rem!important
  position: relative
  top: -4rem
  cursor: pointer

.well-primary
  color: $white

// @media screen and (min-width: 768px)
  // .detailsDescription
    // font-size: 4rem


.seasons
  text-align: center
  padding-bottom: 4rem
  button
    margin: 5px


.episodes, .description-small
  padding: 0rem 3rem


.ep
  width: 60%
  padding: 1rem 0rem
  cursor: pointer
  .title
    font-weight: bold


  .description
    text-align: justify
    padding: 0
    display: none
    // display: none

  // &:active
  //   .description
  //     display: block
// .episodes, .description-small
//   width: 100%
.table > tbody > tr.description-small
  // display: table-row
  display: none
  &, *
    height: 0
    // display: none
    overflow: hidden
  > td
    border-top: 0
  .ep .description
    display: block
  &.show-description-small
    display: table-row
    .ep
      width: 90%
    &, *
      height: auto
      // display: initial
.air-date
  width: 30%
  text-align: right
    // float: right
.watched
  margin: 0 auto
  font-size: 1rem

.fadeInOut
  transition: height 0.2s ease-in-out

@media (min-width: $screen-sm-min)
  .ep
    width: 80%
    cursor: initial
    .description
      display: block
  .air-date
    width: 25%
  .table > tbody > tr.description-small.show-description-small
    display: none

@media (min-width: $screen-md-min)
  .ep
    width: 80%
    .description
      display: block
  .air-date
    width: auto
  .table > tbody > tr.description-small.show-description-small
    display: none
