.st-content
  transition: padding 0.5s
  position: relative

.st-content-inner
  position: relative

#st-container
  // padding-top: 94px
  position: relative
  // overflow: hidden

.st-pusher
  position: relative
  left: 0
  z-index: 0
  height: 100%
  perspective: 1000px
  -webkit-transition: -webkit-transform 0.5s
  transition: transform 0.5s
  transition: padding 0.5s
  &:after
    position: absolute
    top: 0
    right: 0
    width: 0
    height: 0
    background: rgba(0, 0, 0, 0.2)
    content: ''
    opacity: 0
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
    z-index: 99

.st-menu-open
  .st-menu
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
  .st-pusher::after
    width: 100%
    height: 100%
    opacity: 1
    -webkit-transition: opacity 0.5s
    transition: opacity 0.5s
  .st-menu::after
    width: 0
    height: 0
    opacity: 0
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s

.st-menu
  +shadow-by-level(2)
  position: fixed
  top: 0
  left: 0
  z-index: 2000
  width: 150px
  height: 100%
  background: $primary-color
  -webkit-transition: all 0.5s
  transition: all 0.5s
  -webkit-transform: translate3d(-110%, 0, 0)
  transform: translate3d(-110%, 0, 0)
  &:after
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.2)
    content: ''
    opacity: 1
    -webkit-transition: opacity 0.5s
    transition: opacity 0.5s

  ul
    margin: 0
    padding: 0
    list-style: none
  h2
    margin: 0
    padding: 1em
    color: rgba(0,0,0,0.4)
    text-shadow: 0 0 1px rgba(0,0,0,0.1)
    font-weight: 300
    font-size: 2em
  ul li a
    display: block
    padding: 1em 1em 1em 1.2em
    outline: none
    box-shadow: inset 0 -1px rgba(0,0,0,0.2)
    color: #f3efe0
    text-transform: uppercase
    text-shadow: 0 0 1px rgba(255,255,255,0.1)
    letter-spacing: 1px
    font-weight: 400
    -webkit-transition: background 0.3s, box-shadow 0.3s
    transition: background 0.3s, box-shadow 0.3s
    cursor: pointer
  ul li:first-child a
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2)
  ul li a:hover
    background: rgba(0,0,0,0.2)
    box-shadow: inset 0 -1px rgba(0,0,0,0)
    color: #fff
  &:after
    display: none
