// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* description section of welcome page */
.desc_section
  background-color: $light-primary-color
  padding-top: 5rem
.desc
  padding: 1rem 2rem
  text-align: center
  .icon
    display: inline-block
    padding: 2rem
    max-width: 128px

@media screen and (min-width: 768px)
  .desc
    // min-height: 250px
    .icon
      padding: 2rem
      float: none
      max-width: 150px


.instructions
  margin: 3rem 0rem 0rem 0rem
  padding: 1rem 3rem
  background: $white
  +shadow-by-level(1)

/* popular series section of welcome page */
.welcome-section
  padding: 2rem

.popular_section
  padding: 5rem 0rem 0rem 0rem

.series
  text-align: center
  padding: 1rem
  position: relative
