!!!
%html{ 'ng-app' => 'EpiTrackerApp' }
  %head
    %base{href: '/'}
    %title EpiTracker
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ng_controller: "MainController"}
    = yield
